html, body {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  background: #f8f0ee;
  color: #e5386d;
  scroll-behavior: smooth;
}
small {
  font-size: 20px;
}

.app {
  padding-top: 30px;
  padding-bottom: 25%;
}
.btn {
  margin: 0 15px;
  &.btn-dark {
    background: #2748a0;
    border-color: #2748a0;
  }
}
input {
  color: #e5386d;
}